<div class="header-bar">
  <div class="container">
    <h1>
      your shite 
      <small>it's in good hands</small>
    </h1>

    {{#unless session.isAuthenticated}}

      <div class="app-login">
        <form>
          {{input class="form-control" type="text" placeholder="E-mail" value=loginEmail}}
          {{input class="form-control" type="password" placeholder="Password" value=loginPassword}}
          <button type="submit" class="btn btn-default" {{action 'login' loginEmail loginPassword}}>Login</button>
        </form>
        <div>
          <a href="#">Forgot your password?</a>
        </div>
      </div>

    {{else}}

    <div class="user-panel">
      <strong>{{session.secure.email}}</strong>
      <a href="#" {{action 'logout'}}>Logout</a>
    </div>

    {{/unless}}

  </div>
</div>

<div class="container">
  {{outlet}}
</div>
