<a href='{{bookmark.url}}' target='_blank' class="bookmark">
    <img src="{{bookmark.imgUrl}}">
    <a class='bookmark-link' href='{{bookmark.url}}'>{{bookmark.title}}</a>
    <a class='bookmark-delete' href='#' {{action 'delete' bookmark}}>{{fa-icon 'close'}}</a>
</a>
